* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
    --second-primary-color: #000958;
}

html,
body {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5.h6 {
    font-family: "Sora", sans-serif;
}

a,
input,
textarea,
select,
button,
article {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    color: var(--second-primary-color);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 999px;
    border: 1px solid rgba(0, 9, 88, 0.7);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff;
    border-color: var(--primary-color);
    background: var(--primary-color);
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
}

.section-heading {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
    color: var(--second-primary-color);
}

.section-desc {
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

/* Header */
.header {
    padding: 26px 0 13px;
}

.header.header__fixed {
    position: sticky;
    top: -8px;
    z-index: 10;
    background: #fffaf5;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.navbar__link:hover,
.header-action__link:hover {
    color: var(--second-primary-color);
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;
    min-width: 117px;
}

.header-action__btn:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Hero */
.hero {
    padding: 77px 0;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

/* Hero media */
.hero__media {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    border: 3px solid #fff;
    background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 17px;
    right: -43px;
}

.hero__img-wrap-small {
    margin: 0 0 -58px -23px;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    background: linear-gradient(206deg, #faa7ad 4.68%, #e87f8a 98.09%);
    box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}

/* Hero list */
.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-item {
    display: flex;
    align-items: center;
}

.hero-item__img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background: #fec23f;
}

.hero-item:nth-of-type(2) .hero-item__img {
    background: #c6e2fa;
}

.hero-item__info {
    margin-left: 10px;
}

.hero-item__title {
    color: #181e52;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-item__skeleton,
.hero-item__skeleton--long {
    border-radius: 10px;
    opacity: 0.08;
    background: var(--second-primary-color);
}

.hero-item__skeleton {
    margin-top: 7px;
    width: 39px;
    height: 4px;
}

.hero-item__skeleton--long {
    margin-top: 6px;
    width: 118px;
    height: 4px;
}

.hero-item__separate {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    border-radius: 999px;
}

/* Hero content */
.hero__heading {
    width: 517px;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
    color: var(--second-primary-color);
}

.hero__desc {
    width: 391px;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__btn {
    --height: 60px;
    font-size: 1.6rem;
    min-width: 190px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
    margin-left: 24px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
    color: var(--second-primary-color);
}

.hero__cta-link:hover {
    color: var(--primary-color);
}

/* About */
.about {
    padding: 61px 0 130px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

/* About content */
.about__label {
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__heading {
    margin-top: 15px;
}

/* About checklist */
.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 4px;
}

.about__check-item::after {
    position: absolute;
    display: inline-block;
    content: url(../icons/check.svg);
    top: 2px;
    left: 5px;
}

/* About media */
.about__media {
    display: flex;
    justify-content: flex-end;
}

.about__media-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 494px;
    height: 559px;
    border-radius: 16px;
}

.about__img {
    width: 450px;
}

.about__img-bg {
    position: absolute;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    z-index: -1;
}

.about__decor {
    position: absolute;
    width: 133.63px;
    height: 94.766px;
    top: 157px;
    right: -50px;
    z-index: -1;
}

/* About card */
.about__card {
    position: absolute;
    top: 165px;
    left: -92px;
    width: 136px;
    height: 156px;
    text-align: center;
    padding: 31px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-title {
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43;
}

.about__card-decor {
    position: absolute;
    top: -38px;
    right: -33px;
}

/* About media bottom */
.about__media-wrap-bottom {
    margin-right: auto;
    width: 458px;
    height: 500px;
}

.about__img-bottom {
    width: 100%;
    z-index: 2;
}

.about__img-bg-bottom {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-decor {
    position: absolute;
}

.about__img-decor:nth-child(1) {
    top: 12px;
    right: 63px;
}

.about__img-decor:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__img-decor:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__img-decor:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__img-decor:nth-child(5) {
    right: 19px;
    bottom: 150px;
}

.about__img-decor:nth-child(6) {
    right: -42px;
    bottom: -54px;
}

.about__img-decor:nth-child(7) {
    left: 52px;
    bottom: 0;
    width: 70px;
    height: 32px;
    z-index: 1;
}

.about__img-decor:nth-child(8) {
    width: 193px;
    height: 68px;
    left: 154px;
    bottom: 36px;
    transform: rotate(13.72deg);
    z-index: 1;
}

/* About content bottom */
.about__heading-bottom,
.about__desc-bottom {
    width: 517px;
}

.about__desc-bottom {
    margin-bottom: 50px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    opacity: 0.07;
    background: var(--primary-color);
}

.tab__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__icon {
    width: 18px;
}

.tab__title {
    color: #48496a;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    width: 390px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
}

.tab__content-more {
    display: inline-block;
    position: relative;
    margin-top: 32px;
    color: #ff5d31;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    padding-bottom: 5px;
}

.tab__content-more::after {
    width: 86px;
    height: 1.5px;
    opacity: 1;
}
