* {
    box-sizing: border-box;
}

:root {
    --header-font: "Sora", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
